@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: #2d1e1e !important;
  font-family:
    "Rubik",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
}

* {
  color: #2d1e1e !important;
  font-family:
    "Rubik",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
}
